<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3"><br>
        <h2>Agregar Tarjeta</h2>
        <form (ngSubmit)="onSubmit()" [formGroup]="tarjetaForm" >
          <div class="form-group">
            <label for="titular">Titular de la Tarjeta</label>
            <input type="text" class="form-control" id="titular" name="titular" formControlName="titular">
          </div>
          <div class="form-group">
            <label for="numero">Número de Tarjeta</label>
            <input type="number" class="form-control" id="numero" name="numero" formControlName="numero">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fecha">Fecha de Vencimiento (MM/AA)</label>
              <input type="text" class="form-control" id="fecha" name="fecha" formControlName="fecha">
            </div>
            <div class="form-group col-md-6">
              <label for="cvv">CVV</label>
              <input type="text" class="form-control" id="cvv" name="cvv" formControlName="cvv">
            </div>
            <div *ngIf="tarjetaForm.get('cvv')?.touched
                                                            && tarjetaForm.get('cvv')?.errors?.['maxlength']"
                class="alert alert-danger mt-2" role="alert">
                Maximo 3 caracteres para el CVV
            </div>
          </div><br>
          <button type="submit" class="btn btn-primary">Agregar Tarjeta</button><br><br>
        </form>
      </div>
    </div>
  </div>
  