<div class="sidenav">
    <a routerLink="/dashboard/tarjeta" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Listar</a>

    <a routerLink="/dashboard/tarjeta/agregar-tarjeta" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Agregar</a>

    <a routerLink="/dashboard/tarjeta" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action">Editar</a>
</div>